body {
    background: #262626;
    font-family: arial;
    color: #fff;
}

img {
    position: relative;
    left: 1700px;
    border-radius: 200px;
    width: 150px;
    height: 150px;
}

img:hover {
    box-shadow: 0 0 5px 5px rgb(255, 251, 0);
}